Source: python-quantum-client
Section: python
Priority: optional
Maintainer: RCB Builder <rcb-deploy@lists.rackspace.com>
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), python-setuptools
XS-Python-Version: >=2.6
Standards-Version: 3.9.1
XCBS-RCB-Component: diablo-final

Package: python-quantum-client
Architecture: all
Homepage: http://github.com/openstack/quantum
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-quantum-common (>= 0.1)
Description: Openstack Quantum API client for python
